@import 'base-files/reset';
@import 'base-files/base';

header{
  display: block;
  text-align: left;
  background-color: $primary;
  padding: 1.5rem 0;

  h3{
    color: $white;
    text-transform: uppercase;
  }
}

.page{
  padding: 30px 0;
  min-height: calc(100vh - 115px);

  &.registration{
    form{
      display: block;
      max-width: 768px;
      margin: 0 auto;

      .row{
        margin: 0 0 1.25rem;

        input{
          border: 1px solid $primary;
          padding: 0.75rem 1rem;
          width: 100%;
          color: $primary;

          &:focus{
            border: 1px solid $highlight;
          }
        }

        &.double{
          input{
            &:first-of-type{
              margin: 0 0 1.25rem;
            }

            @media all and (min-width: 768px){
              display: inline-block;
              width: calc(50% - 0.65rem);

              &:first-of-type{
                margin: 0 0.5rem 0 0;
              }
              &:last-of-type{
                margin: 0 0 0 0.5rem;
              }
            }
          }
        }
      }

      .alert{
        max-width: 50%;
        margin: 5rem auto 0;

        p{
          font-size: 1.4rem;
          text-align: center;
        }
      }
    }
  }
  &.login{
    form{
      display: block;
      max-width: 377px;
      margin: 0 auto;

      .row{
        margin: 0 0 1.25rem;

        input{
          border: 1px solid $primary;
          padding: 0.75rem 1rem;
          width: 100%;
          color: $primary;

          &:focus{
            border: 1px solid $highlight;
          }
        }
      }

      .alert{
        max-width: 50%;
        margin: 5rem auto 0;

        p{
          font-size: 1.4rem;
          text-align: center;
        }
      }
    }
  }
  &.game-board{
    .spaces{
      .space{
        display: block;
        margin: 10px auto;
        border: 2px solid $primary;
        width: 100px;
        height: 100px;
        border-radius: 100px;
      }
    }
  }
}

footer{
  padding: 10px 0;
  text-align: center;
  background-color: $primary;

  small{
    color: $white;

    a{
      color: $white;
    }
  }
}